<section class="section--footer mdl-color--white mdl-grid">
    {% for membro in site.data.equipegdg %}
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <img src="./assets/img/{{membro.foto}}.jpg" style="width: 100px; height: 100px" class="section__circle-container__circle mdl-color--primary mdl-shadow--2dp"
        />
    </div>
    <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>{{membro.nome}}</h5>{{membro.descricao}}
    </div>
    {% endfor %}
</section>