<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary mdl-shadow--2dp"
 >
  <div class="mdl-layout--large-screen-only mdl-layout__header-row"
   style="position: relative; height: 100%">
     <img src="./assets/img/gdgaracaju.png" 
    style="opacity: 0.5; width: 100%">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row" 
    style="float: left; position: absolute; margin: 10% 5%">
    <h1 style="color: white;">{{site.title}}</h1>
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Sobre o evento</a>
  </div>
</header>